<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="hr.foi.air.database">

     <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name="sync.BTSyncer"
            android:theme="@android:style/Theme.Dialog"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
    </application>

</manifest>
